<div id="user_new_lpage">

<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
<!--  <div class="field_label"><%= f.label :email %><br /></div>
  <div class="field_entry"><%= f.text_field :email %></div>
  <div class="field_label"><%= f.label :password %><br /></div>
  <div class="field_entry"><%= f.password_field :password %></div> -->
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

</div>
<!-- end id user_new_lpage -->