  		<div class="footer">
        <p><%= link_to "Rails Help", help_path, :tabindex => 99 %>  |  <%= link_to "Contact Us", contact_us_path, :tabindex => 100 %>  |  <%= link_to "Terms Conditions and Privacy", terms_conditions_path, :tabindex => 101 %>  |  <%= link_to "Disclaimer", disclaimer_path, :tabindex => 102 %>  |  <%= link_to "Administrator", administrator_path, :tabindex => 103 %>  |  <a tabindex="104" href="http://theelist.com.au/web_builds/intro_lpage">Website created by The Elist </a></p>
        <p>Copyright &copy; Working Voices Choir 2011 - All Rights Reserved.</p>
        </div><!--end .footer-->		

<!--    		<p>This .footer contains the declaration position:relative; to give Internet Explorer 6 hasLayout for the .footer and cause it to clear correctly. If you're not required to support IE6, you may remove it.</p> -->

