  	  	<div class="sidebar2">
        	<ul class="nav">
				<li><%= link_to "Members Login", 'members_login' %></li>
<!--				<li><%= link_to "Members News", 'members_news' %></li>	-->			
				<li><%= link_to "Book the Choir", 'book_choir' %></li>
				<li><%= link_to "About Us", 'about_us' %></li>
				<li><%= link_to "Contact Us", 'contact_us' %></li>
          		<li><%= link_to "Links", 'links' %></li>
         	</ul>		
    	<!-- end .sidebar2 --></div>
