      	<div class="sidebar1">
        	<ul class="nav">
          		<li><%= link_to "Home", root_path, :tabindex => 21 %></li>
            	<li><%= link_to "Performances", performances_path, :tabindex => 22 %></li>
            	<li><%= link_to "Our Songs", our_songs_path, :tabindex => 23 %></li>
				<li><%= link_to "Gallery", gallery_path, :tabindex => 24 %></li>
				<li><%= link_to "How to Join", how_to_join_path, :tabindex => 25 %></li>				
         	</ul>
  	  	</div><!-- end .sidebar1 -->

