<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<% csrf_meta_tag %>
    	<!--[if lt IE 9]>
    		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->    
    	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    	<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    	<!--[if lt IE 8]>
			<%= stylesheet_link_tag 'blueprint/ie' %>
		<![endif]-->
    	<%= stylesheet_link_tag 'custom', :media => 'screen' %>
		<style>
			.content { margin-right: -1px; } 	/* this 1px negative margin can be placed on any
		 											of the columns in this layout with the same
													corrective effect. */
			ul.nav a { zoom: 1; }  				/* the zoom property gives IE the hasLayout trigger 
													it needs to correct extra whiltespace between the links */
		</style>
		
	</head>
<body>
    <div class="container">
	<%= render 'layouts/header' %>
	<div class="nav-content_box">
	<%= render 'layouts/sidebar1' %>	
	  	<div class="content">
        	<%= yield %>
	  	</div><!-- end .content -->
	<%= render 'layouts/sidebar2' %>
	<%= render 'layouts/footer' %>
	</div><!-- end .nav-content_box -->
    </div><!-- end .container -->
</body>
</html>
